.quiz__mark-failed {
  border-radius: 50%;
  background-color: #fe0202;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  margin-top: 5px;
  position: relative;
}

.quiz__mark-failed:after {
  position: absolute;
  content: "";
  width: 15px;
  height: 3px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  transform-origin: center;
}

.quiz__mark-failed:before {
  position: absolute;
  content: "";
  width: 15px;
  height: 3px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  transform-origin: center;
}

